# Node dependencies
node_modules/

# Expo
.expo/
.expo-shared/
expo-debug.log

# React Native build outputs
android/
ios/
build/
dist/
web-build/

# Metro / bundler cache
.cache/
metro-cache/

# OS-specific files
.DS_Store
Thumbs.db

# Environment & secrets
.env
.env.*
*.jks
*.p12
*.keystore
*.key
*.pem
*.crt

# IDEs/editors
.vscode/
.idea/

# NPM/Yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
